---
section: Confirmation
title: Confirmation page
subtitle: 
description: Confirmation Thank you page
keywords:
  - 'Contact'
  - 'Autonomic'
  - 'Mind'
  - 'Information'
  - 'Email'
lang: en
---

doctype html
html
  head
    == render '/head.slim'
  body
    .vh-100
      .flex.flex-wrap
        .w-100.mt5.flex.items-center.justify-center
          span.ma0
            i.far.fa-check-circle.am-orange style="font-size:6rem"
        .w-100.mt4.flex.items-center.justify-center
          h2.normal.semi-tracked.f3.f1-l.ma0.am-gray
            | Registration Confirmed
        .w-70.w-100-l.mt5.flex.items-center.justify-center.ma-auto
          .tl
            p.tracked.f6.f4-l.ma0.am-gray
              | Your submission is received and we will contact you soon.
            p.tracked.f6.f4-l.mt3.am-gray
              | Thank you for registering!
            p.tracked.f6.f5-l.mt4.mb0.am-gray.db
              | Autonomic S.A.S
            p.tracked.f6.f5-l.mt1.mb0.am-gray.db
              | Carrera 43 # 9 SUR 195 Oficina 736
            p.tracked.f6.f5-l.mt1.mb0.am-gray.db
              | Medellín, 050010
            p.tracked.f6.f5-l.mt1.am-gray.db
              | Colombia
        .w-100.mt4.flex.items-center.justify-center
          - btn_return_class = 'no-underline grow pointer mb2 am-orange '\
                               'f6 f5-l br-pill ba tracked ph4 pv2 ttu'
          a[
            href="/en/"
            class="#{btn_return_class}"
          ] Return to Home
