-if item[:lang] == 'es'
  - text_button = 'VER MÁS'
  - linkto = '/es/nosotros/'
- else
  - text_button = 'KNOW MORE'
  - linkto = '/en/about-us/'

.am-banner.banner-bg1.bg-center.flex.flex-column.justify-center.cover[
  id="banner"
]
  .white
    p.f3.f4-l.fw5.tc.pt6.tracked
      | AUTONOMIC MIND
    p.tc.f3.f1-l.fw5.ma0.tracked
      | Connecting outstanding people
    p.tc.f3.f1-l.fw5.pa0.ma0.tracked
      | with great teams
  .flex.justify-center.mt4
    - btn_banner_class = 'f5 f7-l fw5 tracked grow no-underline br-pill br4 '\
    'ph4 pv2 dib dark-gray bg-white'
    a[
      class="#{btn_banner_class}"
      href="#{linkto}"
    ] #{text_button}
