doctype html
html
  head
    == render '/head.slim'
    link href='/stylesheets/content.css' rel='stylesheet' type='text/css'
    script src='/js/content.js'
    script src='/js/dropdown-menus.js'
    - if item[:section] == 'Clientes' || item[:section] == 'Customers'
      script src='/js/chart.js'
      script src='/js/carousel.js'
    - if item[:section] == 'contáctenos' || item[:section] == 'Contact us'
      script src='/js/contact-form.js'
    - if item[:kind] == 'article'
      script src="/js/article.js"
    - if item[:title] == 'Evaluación de conocimientos' \
      || item[:title] == 'Knowledge test'
      script src="/js/evaluation-chart.js"

  body
    == render "/header-#{item[:lang]}.slim"

    .content.bg-white.f4.lh-copy.pv5.pv6-l.f3-l
      - if item[:kind]
        .w-80.mw9.ma-auto.mb4.mb5-l.flex-l.items-center-l.justify-between-l
          .w-50-l.pr5-l
            h1.am-orange.f3.mb2.f2-l.normal.tracked
              | #{item[:title]}
            .f6.f5-l.gray.fw6.tracked
              | #{item[:keywords].join(', ')}
            .f4.fw3.gray.i.mt4.mb4.f3-l.semi-tracked
              | #{item[:description]}
            .flex.mt4.items-center.mb4
              - written = "Written on \
              #{item[:created_at].strftime('%B %e, %Y')} by #{item[:author]}"
              .f5.f4-l.gray.fw6 = written
          .tc.w-50-l
            img.br6.br--left src="cover.png" alt="#{item[:image_alt]}"

      - if item[:chart]
        == render '/roles-chart.slim'
      - if item[:section] == 'Vacantes' || item[:section] == 'Vacancies'
        == render '/vacantes.slim'
      - if item[:section] == 'Candidatos' || item[:section] == 'Candidates'
        == render '/toc.slim'
      - else
        == yield
      - if item[:section] == 'Clientes' || item[:section] == 'Customers'
        == render '/customer-slider.slim'
        == render '/customer-ad.slim'
        == render '/faq.slim'
      - elsif item[:section] == 'Nosotros' || item[:section] == 'About us'
        == render '/portfolio.slim'
        == render '/faq.slim'
      - elsif item[:section] == 'contáctenos' || item[:section] == 'Contact us'
        == render '/map.slim'

    == render "/footer2-#{item[:lang]}.slim"

    == render "/footer-#{item[:lang]}.slim"
