.ma-auto.w-90.mw-240-ch.relative.overflow-hidden.mb5
  .w-440.w-165-l.ma0.pa0.flex id="slider"
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-20.w-30-l.ma-auto
      .w-80.w-70-l.ma-auto
        a href="https://attensi.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/attensi.png"
            alt="attensi"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-50.w-50-l
      .w-30.ma-auto
        a href="https://www.choucairtesting.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/choucair.png"
            alt="choucair"
          ]
      .w-20.w-20-l
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-30.w-30-l.ma-auto
      .w-70.w-70-l.ma-auto
        a href="https://www.grupobancolombia.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/bancolombia.png"
            alt="bancolombia"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-40.w-50-l.ma-auto
      .w-50.w-40-l.ma-auto
        a href="https://www.f2x.com.co/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/f2x.png"
            alt="f2x"
          ]
      .w-10.w-10-l
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-10.w-30-l.ma-auto
      .w-90.w-70-l.ma-auto
        a href="https://fluidattacks.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/fluid_attacks.png"
            alt="fluid_attacks"
          ]
    section.w-40.w-45.w-15-l.flex.items-center.justify-center
      .w-20.w-30-l.ma-auto
      .w-80.w-60-l.ma-auto
        a href="http://www.cadena.com.co/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/cadena.png"
            alt="cadena"
          ]
      .w-10-l
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-30.w-30-l.ma-auto
      .w-70.w-60-l.ma-auto
        a href="https://asesoftware.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/ase_software.png"
            alt="ase_software"
          ]
      .w-10-l
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-30.w-30-l.ma-auto
      .w-70.w-60-l.ma-auto
        a href="https://budafly.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/budafly.png"
            alt="budafly"
          ]
      .w-10-l
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-20.w-30-l.ma-auto
      .w-50.w-60-l.ma-auto
        a href="https://www.payvalida.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/payvalida.png"
            alt="payvalida"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-40.w-30-l.ma-auto
      .w-60.w-70-l.ma-auto
        a href="https://www.tecso.coop/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/tecsoo.png"
            alt="tecso"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-60.w-50-l
      .w-40.ma-auto
        a href="http://www.seti.com.co/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/seti.png"
            alt="seti"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-30.w-40-l.ma-auto
      .w-30.w-50-l.ma-auto
        a href="https://www.realpage.com/aim/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/hipercept.png"
            alt="hipercept"
          ]
    section.w-40.w-15-l.flex.items-center.justify-center
      .w-80.ma-auto
      .w-130.ma-auto
        a href="https://www.acrecer.com/" target="_blank"
          img.sm-sq-img.pa0.ma0.grow[
            src="/images/customers/acrecer.png"
            alt="acrecer"
          ]
      .w-20.ma-auto
  .w-10.ma0.pa0.absolute.f-5.am-orange.tc.left-0.pointer id="back-btn" &#60
  .w-15.ma0.pa0.absolute.f-5.am-orange.tc.right-0.pointer id="next-btn" &#62
