- if item[:lang] == 'es'
  - client_portfolio = 'CONOCE MÁS SOBRE<br>NUESTRO PORTAFOLIO'
  - client_contact = 'Contáctanos a '\
                     '<a class="white" href="mailto:sales@autonomicmind.com">'\
                       'sales@autonomicmind.com'\
                     '</a>'\
                     '<br>'\
                     'o llámanos al'\
                     '<a class="white" href="tel:3106247670">'\
                       '+57 310 624 7670'\
                     '</a>'
- else
  - client_portfolio = 'KNOW MORE ABOUT<br>OUR PORTFOLIO'
  - client_contact = 'Contact us to '\
                     '<a class="white" href="mailto:sales@autonomicmind.com">'\
                       'sales@autonomicmind.com'\
                     '</a>'\
                     '<br>'\
                     'or call us at'\
                     '<a class="white" href="tel:3106247670">'\
                       '+57 310 624 7670'\
                     '</a>'

.h5.banner-bg4.mt5.w-100.cover
  .flex.flex-column.justify-center
    .flex.flex-wrap.justify-center.w-100.h5
      .w-100.w-40-l.flex.items-end.items-center-l.justify-center-l
        .ma0.pa0.w-100.w-auto-l.tc.tl-l
          p.white.ttu.f3.f2-l.fw5.tracked.mv1 #{{client_portfolio}}
      .w-100.w-40-l.flex.items-start.items-center-l.justify-center-l
        .ma0.pa0.w-100.w-auto-l.tc.tl-l
          p.white.f5.f4-l.fw5.tracked.mv1 #{{client_contact}}
