ruby:
  if item[:lang] == 'es'
    faq_question = '¿Tienes dudas?'
    faq_statement = 'Puedes leer nuestra sección de preguntas frecuentes'
    faq_btn = 'VER FAQ'
    faq_route = '/es/candidatos/faq/'
    schedule_title = 'Horario de atención'
    schedule = 'Lun - Vie de 8:00 am a 12:30 pm y de 1:30 pm a 6:00 pm'
    schedule_btn = 'CONTACTO'
    schedule_route = '/es/contactenos/'
  else
    faq_question = 'Questions?'
    faq_statement = 'You can read our FAQ section'
    faq_btn = 'FAQs'
    faq_route = '/en/candidates/faq/'
    schedule_title = 'Office hours'
    schedule = 'Monday - Friday: 8:00 AM to 12:30 PM & 1:30 PM to 6:00 PM'
    schedule_btn = 'CONTACT'
    schedule_route = '/en/contact-us/'
  end

.ma-auto.w-100.mw9
  .w-90.w-80-l.flex.flex-wrap.justify-center.ma-auto.mt5.mt6-l.mb4.mb0-l
    - faq_btn_class = 'f5 tracked grow no-underline br-pill ba bw1 ph4 pv2 '\
    'mb0 mt4 dib am-orange'
    .w-100.w-50-l.tc.gray
      img.mb3 src="/images/question-mark.png" alt="question-mark" width="80"
      p.mv2.mv0-l.pa0.f3.f2-l.ttu.tracked = faq_question
      p.ma0.pa0.f5 = faq_statement
      a class="#{faq_btn_class}" href="#{faq_route}" target="_blank" #{faq_btn}
    .w-100.w-50-l.tc.gray.mt5.mt0-l
      img.mb3 src="/images/clock-circular.png" alt="clock" width="80"
      p.mv2.mv0-l.pa0.f3.f2-l.ttu.tracked = schedule_title
      p.ma0.pa0.f5 = schedule
      a[
        class="#{faq_btn_class}"
        href="#{schedule_route}"
        target="_blank"
      ] #{schedule_btn}
