.h6.h4-l.bt.b--silver.dt.w-100.flex.flex-wrap.justify-center
  .w-100.w-20-l.tc.mt4.ma-auto-l.db.mw5-l
    a href="https://www.serviciodeempleo.gov.co/" target="_blank"
      img.w-50.w-60-l.grow src="/images/job-service.png" alt="job-service"
  .w-100.w-20-l.mt4-l.ma-auto-l.db.mw5-l
    a
      img.w-60.w-70-l.grow src="/images/min-trabajo.png" alt="min-trabajo"
  .w-100.w-60-l.ma-auto.dtc.f5.v-mid.tracked.dark-gray
    .mt3.mb3.ma0-l
      span
        | Linked to the network of public employment service providers.
        |  Authorized by the Special Administrative Unit of the Public
        |  Employment Service according to Resolution No. 000321 of 2020
