.h6.h4-l.bt.b--silver.shadow-1.dt.tc.w-100.flex.flex-wrap.justify-center
  .w-100.w-20-l.mt4.ma-auto-l.db.mw5-l
    a.pointer id="top"
      img.w-50.w-60-l.grow src="/images/logo.png" alt="Autonomic-logo"
  .w-100.w-60-l.ma-auto.dtc.f5.v-mid.tracked.dark-gray
    .mt3.mb3.ma0-l
      span
        | Autonomic Mind - Todos los derechos reservados
  .w-100.w-20-l.ma-auto
    .mv4.ma0-l
      a href="https://twitter.com/autonomic_mind" target="_blank"
        img.w-10.grow src="/images/twitter-logo.png" alt="twitter-logo"
      a.ml4.ml3-l href="https://www.facebook.com/AutonomicMind/" target="_blank"
        img.w-10.grow src="/images/facebook-logo.png" alt="facebook-logo"
      a.ml4.ml3-l[
        href="https://www.instagram.com/autonomicmind/"
        target="_blank"
      ]
        img.w-10.grow src="/images/instagram-logo.png" alt="instagram-logo"
      a.ml4.ml3-l[
        href="https://www.linkedin.com/company/autonomicmind/?viewAsMember=true"
        target="_blank"
      ]
        img.w-10.grow src="/images/linkedin-logo.png" alt="linkedin-logo"
.h1.w-100.am-bg-dark-gray
