ruby:
  if item[:lang] == 'es'
    full_name_placeholder = 'NOMBRE Y APELLIDO'
    phone_placeholder = 'CELULAR'
    email_placeholder = 'CORREO'
    company_placeholder = 'EMPRESA'
    submit_text = '¡ENVIAR!'
    textarea_placeholder = '¿COMO PODEMOS AYUDARTE?'
    url_return = "#{item.path}confirmacion/"
  else
    full_name_placeholder = 'FULL NAME'
    phone_placeholder = 'PHONE NUMBER'
    email_placeholder = 'E-MAIL'
    company_placeholder = 'COMPANY NAME'
    submit_text = 'SUBMIT!'
    textarea_placeholder = 'HOW CAN WE HELP YOU?'
    url_return = "#{item.path}confirmation/"
  end

- text_input_class = 'contact-form w-100 mb3 am-gray ba bw2 b--black-10'\
                     ' f5 f4-l br3 ph3 pv2 tracked required'
- submit_class = 'br4 am-orange ba b--orange bg-white grow f6 f5-l '\
                 'pointer pv2 ph4 mt4 semi-tracked'
- form_on_submit = 'javascript:document.charset="UTF-8"; '\
                   'return checkMandatory3477432000002036001()'

div id='crmWebToEntityForm' class='w-80 ma-auto'
  meta http-equiv='content-type' content='text/html;charset=UTF-8'
  form[
    action='https://crm.zoho.com/crm/WebToLeadForm'
    name='WebToLeads3477432000002036001'
    method='POST'
    onSubmit="#{form_on_submit}"
    accept-charset='UTF-8'
  ]
    input[
      type='text'
      style='display:none;'
      name='xnQsjsdp'
      value='7cfd32b5e6d47a67db48d54eae3f0b86e485e56999f889cf8786e054a56659ae'
    ]
    input type='hidden' name='zc_gad' id='zc_gad' value=''
    input[
      type='text'
      style='display:none;'
      name='xmIwtLD'
      value='27b711040d2f2ec501734d9027658222d872e66d4a09c09b7af569d3a3ebf5e7'
    ]
    input type='text' style='display:none;' name='actionType' value='TGVhZHM='
    input[
      type='text'
      style='display:none;'
      name='returnURL'
      value="https://autonomicmind.com#{url_return}"
    ]

    .w-100.flex
      div style="width:97%;"
        input[
          id='mce-FULL-NAME'
          type='text'
          class="#{text_input_class}"
          maxlength='40'
          name='First Name'
          placeholder="#{full_name_placeholder}"
        ]
      div style="width:3%;"
        span class="ml1 f4 f3-l red" #{'*'}

    .w-100.flex
      div style="width:97%;"
        input[
          id='mce-EMAIL'
          type='text'
          class="#{text_input_class}"
          maxlength='100'
          name='Email'
          placeholder="#{email_placeholder}"
        ]
      div style="width:3%;"
        span class="ml1 f4 f3-l red" #{'*'}

    .w-100.flex
      div style="width:97%;"
        input[
          type='tel'
          class="#{text_input_class}"
          maxlength='30'
          name='Mobile'
          placeholder="#{phone_placeholder}"
        ]

    .w-100.flex
      div style="width:97%;"
        input[
          id='mce-COMPANY'
          type='text'
          class="#{text_input_class}"
          maxlength='100'
          name='Company'
          placeholder="#{company_placeholder}"
        ]
      div style="width:3%;"
        span class="ml1 f4 f3-l red" #{'*'}

    .w-100.flex
      div style="width:97%;"
        textarea#[
          name="Description"
          class="#{text_input_class}"
          placeholder="#{textarea_placeholder}"
          maxlength='32000'
        ]

    .w-100
      input[
        class="#{submit_class}"
        id='formsubmit'
        type='submit'
        value="#{submit_text}"
        disabled='disabled'
      ]
