ruby:
  if item[:title] == 'Inicio'
    header_class = ' white-banner'
    menuitem_color = ' am-menu-item-color'
    logo_src = '/images/logo-white.png'
    menu_icon_color = ' white'
    section = ' home'
  else
    header_class = ' bg-white'
    menuitem_color = ' am-light-gray'
    logo_src = '/images/logo.png'
    menu_icon_color = ' am-light-gray'
    section = ' others'
  end

header.am-header.fixed.top-0.ttu.w-100.z-5 class="#{header_class}"
  - container_class = 'flex flex-wrap h-100 justify-between mt0 mr-auto mb0 '\
  'ml-auto relative w-90 z-1'
  div class="#{container_class}"
    .h-100.ml0.flex-l.items-center-l
      a.absolute.db.h-75.mt3.mt0-l.left-0.pa1 href="/es/"
        img.h-100 id="logoImg" src="#{logo_src}" alt="Autonomic Mind Logo"
      - button_class = 'am-button absolute bg-transparent bn br0 h-100 ma0 '\
      'outline-0 pa0 top-0 z-4 dn-l'
      button[
        class="#{button_class} #{section}"
      ]
        .relative.h-100
          .absolute.h-100.top-0.left-0.flex.items-center
            span
              i.fas.fa-bars.f2 class="#{menu_icon_color}"
          span.dn.absolute.right-0.top-0
            i.fas.fa-window-close.f1.am-light-gray
      - nav_class = 'am-navbar bg-white db fixed ma0 right-0 z-3 absolute-l '\
      'db-l top-0-l pr0-l pb0-l pl0-l'
      nav class="#{nav_class}"
        ul.am-menu.list.ma0.pa0.bn-l.h-100-l.w-100-l
          - menuitem = 'am-menu-item db f4 fw3 o-0 tracked h-100-l fw5-l '\
          "inline-flex-l items-center-l content-center-l fw8-l#{menuitem_color}"
          - menuli = 'menuli bn-l dib-l pl0-l relative-l h-100-l grow'
          li class="#{menuli}"
            a class="#{menuitem}" href="/es/candidatos/" Candidatos
          li class="#{menuli}"
            a class="#{menuitem}" href="/es/clientes/" Clientes
          li class="#{menuli}"
            a class="#{menuitem}" href="/es/nosotros/" Nosotros
          li class="#{menuli}"
            a class="#{menuitem}" href="/es/contactenos/" Contáctenos
          li class="#{menuli}"
            a class="#{menuitem}" href="/es/blog/" Blog
          li class="#{menuli}"
            a.pointer class="#{menuitem}" id="dropdown-menu"
              p.ma0.pa0.dib.mr2 Más
              p.ma0.pa0.dib.rotate-90 &#10095
            .dropdown-content.dn.absolute-l id="dropdown-content"
              a.pl4.pr5.pr3-l.pv3.pa0.white.db.tl.ttn.bb.b--gray.pointer[
                href="/es/candidatos/reglamento/"
              ] #{{'Reglamento de Gestión <br>y Colocación de Empleo'}}
              a.pl4.pr5.pr4-l.pv3.pt0.white.db.tl.ttn.bb.b--gray.pointer[
                href="/es/candidatos/politicas-datos/"
              ] #{{'Política de Tratamiento <br>de Datos Personales'}}
              a.pl4.pr5.pr5-l.pv3.pt0.white.db.tl.ttn.pointer[
                target="_blank"
                href="https://zfrmz.com/jLlKfvhrnZwyECQ3EgJI"
              ] #{{'Actualización de <br>datos personales'}}
          li class="#{menuli}"
            a class="#{menuitem}" href="/en/"
              img src="/images/us-flag.png" alt="EN" width="22" height="22"/

- if item[:keywords].join('') == 'InicioAutonomicMind'
  == render '/banner-home.slim'
- else
  - if item[:section] == 'Candidatos' || item[:section] == 'Nosotros' || \
  item[:section] == 'Blog' || item[:section] == 'Child'
    - bannerbg = 'banner-bg2'
  - else
    - bannerbg = 'banner-bg3'
  .am-banner.bg-center.flex.items-center.justify-center.cover[
    id="banner"
    class="#{bannerbg}"
  ]
    .white.w-100.w-90-l
      p.f3.f2-l.fw5.tc.tracked.ttu id="section-title"
        | #{item[:banner_title]}
      p.f5.f3-l.tc.semi-tracked id="section-subtitle"
        | #{item[:subtitle]}
      - if item[:section] == 'Candidatos'
        - btn_classes = 'f6 f5-l tracked grow no-underline '\
        'br-pill ba bw1 bw2-l ph4 pv2 mt4 mb2 dib white'
        p.tc
          a[
            class="#{btn_classes}"
            href="https://zfrmz.com/jLlKfvhrnZwyECQ3EgJI"
            target="_blank"
          ] APLICA AQUÍ
