ruby:
  - fontawesome_integrity = 'sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTS'\
  'RyMA2Fd33n5dQ8lWUE00s/'
  - jquery_cdn = 'https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/'\
  'jquery.waypoints.min.js'
  - meta_content = 'width=device-width, initial-scale=1, maximum-scale=2, '\
  'user-scalable=no'
  - progressbar_cdn = 'https://cdnjs.cloudflare.com/ajax/libs/progressbar.js'\
  '/1.1.0/progressbar.min.js'

meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta[
  content="#{meta_content}"
  name="viewport"
]
meta content="TODO" name="description"
meta content="TODO" name="keywords"
meta property="og:image" content="/images/logo.png"
meta property="og:image:alt" content="Autonomic Mind Logo"
title #{item[:title]} | Autonomic Mind
link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon"
link[
  href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,800"
  rel="stylesheet"
]
link[
  href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,800"
  rel="stylesheet"
]
link[
  href="https://fonts.googleapis.com/css?family=Dosis:400,400i,800"
  rel="stylesheet"
]
link[
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="#{fontawesome_integrity}"
  crossorigin="anonymous"
]
link href="/stylesheets/common.css" rel="stylesheet" type="text/css"
link[
  rel="stylesheet"
  href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"
]
link rel="stylesheet" href="/stylesheets/header.css"
link rel="stylesheet" href="/stylesheets/loader.css"

script[
  defer
  src="https://static.cloudflareinsights.com/beacon.min.js"
  data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'
]
script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"
script[
  src='https://www.googletagmanager.com/gtag/js?id=UA-160360793-1'
  async
]
script src='/js/analytics.js'
script src="#{jquery_cdn}"
script src="#{progressbar_cdn}"
script src="/js/responsive.js"
script src="/js/header.js"
script src="/js/footer.js"
