- if item[:lang] == 'es'
  - follow_btn = 'Síguenos'
  - instagram_title = 'en'
- else
  - follow_btn = 'Follow us'
  - instagram_title = 'on'

.w-100.mw9.ma-auto.flex.flex-wrap.mb5.mb6-l
  .w-100.ma0.pa0.flex.items-center.justify-center
    .ma0.pa0
      span.db.dib-l.am-gray.f3.f2-l.ttu.tracked AUTONOMIC MIND
      span.dib.am-gray.f3.f2-l.ttu.tracked.pr3.pl1.pl3-l #{instagram_title}
      span.dib.am-orange.b.f3.f2-l.ttu.tracked INSTAGRAM

  .w-100.mv4.mv5-l.flex
    .w-10.pa0.ma0.pointer.flex.items-center.justify-center.dn-l[
      id="chevron-back-inst"
    ]
      span.pa0.ma0
        i.fas.fa-chevron-left.am-orange.f3

    .ma-auto.loader.mv4.mv6-l id="instagram-loader"

    .w-80.w-100-l.ma0.ma-auto-l.overflow-hidden.dn id="instagram-container"
      .w-250.w-70-l.ma-auto.pa0.flex.items-center-l.justify-center-l[
        id="inner-container"
      ]
    .w-10.pa0.ma0.pointer.flex.items-center.justify-center.dn-l[
      id="chevron-next-inst"
    ]
      span.pa0.ma0
        i.fas.fa-chevron-right.am-orange.f3

  .w-100.ma0.pa0.flex.items-center.justify-center
    a.f5.ttu.grow.no-underline.br-pill.ba.bw1.ph4.pv2.mb2.dib.am-orange.tracked[
      href="https://www.instagram.com/autonomicmind/"
      target="_blank"
    ] #{follow_btn}
