ruby:
  if item[:lang] == 'es'
    service_text = '¿DESEAS COTIZAR NUESTROS<br> SERVICIOS?'
    subtitle = 'Déjanos tus datos'
    schedule_text = '<span class="am-orange b">Horario de atención:</span> '\
                    'Lun - Vie de 8:00 a.m a 12:30 p.m '\
                    'y de 1:30 p.m a 6:00 p.m'
    apply_msg = 'APLICA A NUESTRAS<br> VACANTES'
    apply_subtitle = 'Estamos reclutando activamente o regístrate<br> '\
                     'para tenerte en cuenta en el futuro'
    email_contact = 'Contáctanos a '\
                    '<a class="white" '\
                      'href="mailto:careers@autonomicmind.com">'\
                      'careers@autonomicmind.com'\
                    '</a>'
    tel_contact = 'o llámanos al '\
                  '<a class="white" href="tel:3004963851">'\
                    '+57 300 496 3851'\
                  '</a>'
    apply_btn = 'APLICA AQUÍ'
  else
    service_text = 'WOULD YOU LIKE TO OBTAIN A QUOTATION FOR OUR SERVICES?'
    subtitle = 'Kindly leave your contact information'
    schedule_text = '<span class="am-orange b">Office hours:</span> '\
                    'Monday - Friday: 8:00 AM to 12:30 PM '\
                    '& 1:30 PM to 6:00 PM'
    apply_msg = 'LOOKING FOR A NEW CHALLENGE?'
    apply_subtitle = 'We are actively recruiting or sign up<br> '\
                     'to be considered in the future'
    email_contact = 'Contact us to '\
                    '<a class="white" '\
                      'href="mailto:careers@autonomicmind.com">'\
                      'careers@autonomicmind.com'\
                    '</a>'
    tel_contact = 'or call us at '\
                  '<a class="white" href="tel:3004963851">'\
                    '+57 300 496 3851'\
                  '</a>'
    apply_btn = 'APPLY HERE!'
  end

.ma-auto.mw9.mt0.mb5.mb6-l.pa0.flex.flex-wrap.justify-center
  .w-100.w-50-l.ph0.mt0.mb5.mb0-l.tc.tl-l
    - form_title_class = 'normal am-gray pa0 del-br-l semi-tracked w-80 '\
                         'ma-auto form-title form-title-l'
    h2 class="#{form_title_class}"
     | #{{service_text}}
    span.f5.f3-l.normal.am-gray.tracked.pa0.ma-auto.db.w-80-l #{{subtitle}}
    - schedule_class = 'ba bw1 bw2-l b--black-30 br3 am-gray tl '\
                       'ph3 pv1 mv4 f6 f5-l semi-tracked'
    .w-80.ma-auto
      div[
        style="width:97%;"
        class="#{schedule_class}"
      ] #{{schedule_text}}

    == render '/form.slim'

  .w-90.w-50-l.ma0.pa0
    - map_path = 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966\
    .523213981519!2d-75.57821678569681!3d6.1944813955155675!2m3!1f0!2f0!3f0!\
    3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e468262f5fa26f7%3A0x702a1c9432b64e2\
    7!2sCl.%209%20Sur%20%23195%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1se\
    s-419!2sco!4v1595861176888!5m2!1ses-419!2sco'
    iframe[
      class="google-maps vh-50 vh-100-l"
      src="#{map_path}"
      frameborder="0"
      style="border:0"
      allowfullscreen
    ]
    - address = 'Carrera 43 # 9 SUR 195 Oficina 736, Medellín, Antioquia'
    p.am-gray.f6.f4-l.ma0 #{{address}}

.h5.banner-bg4.mt5.mb5.mb0-l.w-100.cover
  .flex.flex-column.justify-center
    .flex.flex-wrap.justify-center.w-90.h14.mw9.ma-auto
      .w-100.w-60-l.flex.items-center.justify-center.h14
        .ma0.pa0.tc.tl-l
          p.white.ttu.f3.f2-l.fw5.semi-tracked.mb0.del-br-l #{{apply_msg}}
          p.white.f5.f4-l.fw5.semi-tracked.mt2.mt0-l #{{apply_subtitle}}
      .w-80.w-40-l.flex.items-center.justify-center
        - btn_classes = 'f5 tracked grow no-underline br-pill '\
                        'ba bw1 ph4 pv2 mb0 dib white'
        .dn.db-l
          a[
            class="#{btn_classes}"
            href="https://zfrmz.com/jLlKfvhrnZwyECQ3EgJI"
            target="_blank"
          ] #{apply_btn}
    .flex.items-center.justify-center.w-100.h3.h2-l.am-bg-dark-orange
      .w-90.w-80-l.tc.pa0.flex.flex-wrap.items-center-l.justify-center
        p.f5.white.tracked-l.db.dib-l.ma0 #{{email_contact}}
        p.f5.white.tracked-l.db.dib-l.ma0.pl0.pl2-l #{{tel_contact}}
