ruby:
  if item[:lang] == 'es'
    apply_text = 'CONOCE NUESTRAS VACANTES'
    apply_btn = 'CLICK AQUÍ'
    portfolio_text = 'CONOCE MÁS SOBRE <br>NUESTRO PORTAFOLIO'
    portfolio_btn = 'PORTAFOLIO'
    portfolio_link = '/es/clientes/'
  else
    apply_text = 'LOOKING FOR A NEW CHALLENGE?'
    apply_btn = 'CLICK HERE!'
    portfolio_text = 'LOOKING FOR THE BEST TALENT?'
    portfolio_btn = 'GET STARTED'
    portfolio_link = '/en/customers/'
  end

- btn_action_class = 'f5 fw9 tracked grow no-underline br-pill br4 ph4 pv2 mb3'\
' dib white am-bg-orange'

.ma-auto.mw9
  .flex.flex-wrap.justify-center.mt5.mr0.mb1.ml0.tc
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        p.ph0.pt0.mt0.f5.f4-l.fw5.tracked.am-orange.del-br-l
          | #{{apply_text}}
        a[
          class="#{btn_action_class}"
          href="https://autonomicmind.com/es/candidatos/vacantes/"
          target="_blank"
        ] = apply_btn
        a.db.am-orange.f5.f4-l[
          href="mailto:careers@autonomicmind.com"
        ] careers@autonomicmind.com
        a.db.am-orange.f5[
          href="tel:3004963851"
        ] +57 300 496 3851
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        p.ph5.ph0-l.pt0.mt0.f5.f4-l.fw5.tracked.am-orange.del-br-l
          | #{{portfolio_text}}
        a[
          class="#{btn_action_class}"
          href="#{portfolio_link}"
        ] = portfolio_btn
        a.db.am-orange.f5.f4-l[
          href="mailto:sales@autonomicmind.com"
        ] sales@autonomicmind.com
        a.db.am-orange.f5[
          href="tel:3106247670"
        ] +57 310 624 7670
