ruby:
  if item[:lang] == 'es'
    chart_title = '¡Accede a los mejores talentos ti de nuestra red!'
    chart_role = 'Rol al que aplican'
    chart_total = ' Total Candidatos'
    chart_source = 'Fuente: Base de datos propia de Autonomic '\
    'S.A.S. Actualizada al 17-07-2020'
  else
    chart_title = 'Hire the most talented people through us!'
    chart_role = 'Role to which they apply'
    chart_total = ' Total Candidates'
    chart_source = "Source: Autonomic Mind's database, "\
    'updated at 17-07-2020'
  end

.loader.ma-auto.mv6.mv7-l
.w-90.w-70-l.ma-auto.mw9.roles-chart.dn
  .ma-auto.pa0.tc
    h2.ttu.am-gray.f3.f2-l.normal.tracked.mt0
     | #{chart_title}
  .ma-auto.pv0.ph0.ml5-l.ph6-l.tl
    p.am-gray.f7.f3-l.mb0.pb2.pb0-l
     | #{chart_role}
- canvas_con_class = 'relative flex items-center justify-center-l roles-chart '\
'dn mt5 mt0-l h-100 mb5 mb0-l canvas-con'
div class="#{canvas_con_class}"
  p.relative.text-center-chart.gray.f7.f3-l #{chart_total}
  div class="canvas-con-inner"
    canvas id="rolesChart"
  div id="my-legend-con" class="legend-container"
.w-90.w-70-l.ma-auto.mw8.mb5.mb6-l.roles-chart.mb5.mb6-l.dn
  .ma-auto.pa0.tc
    p.am-gray.f7.f4-l.normal.mt2.mt4-l.pt3.pt0-l
     | #{chart_source}
