ruby:
  if item[:lang] == 'es'
    text_one = 'El proceso de selección es totalmente<br> remoto, solo '\
              'debes seguir los<br> siguientes pasos:'
    motivational_message = '¡ANÍMATE, TE ESPERAMOS!'
    email_contact = 'Contáctanos a '\
                    '<a class="white" '\
                      'href="mailto:careers@autonomicmind.com">'\
                      'careers@autonomicmind.com '\
                    '</a>'
    tel_contact = 'o llámanos al '\
                  '<a class="white" href="tel:3004963851">'\
                    '+57 300 496 3851'\
                  '</a>'
    apply_btn = 'CLICK AQUÍ'
    apply_question = '¿Quieres conocer y aplicar<br> a nuestras vacantes?'
    lang = 'es'
  else
    text_one = 'The selection process is entirely online, '\
               'with the following steps:'
    motivational_message = 'COME AND JOIN US!'
    email_contact = 'Contact us '\
                    '<a class="white" '\
                      'href="mailto:careers@autonomicmind.com">'\
                      'careers@autonomicmind.com '\
                    '</a>'
    tel_contact = 'or call us at '\
                  '<a class="white" href="tel:3004963851">'\
                    '+57 300 496 3851'\
                  '</a>'
    apply_btn = 'APPLY HERE'
    apply_question = 'LOOKING FOR A NEW CHALLENGE?'
    lang = 'en'
  end

.ma-auto.mw9
  .flex.flex-wrap.justify-center.mt4.mt5-l.mr0.mb0.mb5-l.ml0
    .w-90.w-90-l.flex.flex-wrap.justify-center
      span.gray.del-br-l.semi-tracked.f4.f3-l.tc #{{text_one}}
      img.process.w-60.w-100-l.mt0.mt5-l.pb0.pb4-l[
        src="/images/infographics/proceso-h.png"
        alt="candidate-process"
        class="#{lang}"
      ]

.w-100.am-bg-orange.tc.pv4.mb5.mb6-l
    span.f3.f2-l.white.tracked = motivational_message

.ma-auto.mw9
  .flex.flex-wrap.justify-center.mt4.mt0-l.mr0.mb4.ml0
    - titles, _, par = get_titles_and_ids(item.raw_filename)
    - titles.each_with_index do |title, index|
      .w-90.w-80-l.ba.b--black-10.bg-mid-gray.white.pl4.pr3.pv3.mb3.pointer[
        id="btn-#{index}"
      ]
        .w-90.dib
          span.f4.fw5.ml2-l
            = title
        .w-5.dib.pa0.ma0
        .w-5.dib.pa0.ma0
          .dib.pa0.rotate-90.ml0.ml4-l &#10095;
      .w-90.w-80-l.br.bb.bl.b--black-20.pv3.mb3.mt-2.br3.br--bottom.dn[
        id="box-#{index}"
      ]
        p.f4.tj.gray.mh4.mh4-l #{{par[index]}}

.h5.banner-bg4.mt5.mb6.mb0-l.w-100.cover
  .flex.flex-column.justify-center
    .flex.flex-wrap.items-center-l.justify-center-l.w-100.h14
      .w-100.w-40-l.flex.items-center.justify-center
        .ma0.pa0
          p.white.ttu.f3.f2-l.fw5.tracked.tc.tl-l.mb0 #{{apply_question}}
      .w-100.w-40-l.tc
        - btn_classes = 'f5 tracked grow no-underline br-pill ba bw1 ph4 pv2 '\
        'mb0 dib white'
        a[
          class="#{btn_classes}"
          href="/es/candidatos/vacantes/"
          target="_self"
        ] #{apply_btn}
    .flex.items-center.justify-center.w-100.h3.h2-l.am-bg-dark-orange
      .w-90.w-80-l.tc.pa0.flex.flex-wrap.items-center-l.justify-center
        p.f5.white.tracked-l.db.dib-l.ma0 #{{email_contact}}
        p.f5.white.tracked-l.db.dib-l.ma0.pl0.pl2-l #{{tel_contact}}
== render '/faq.slim'
