ruby:
  if item[:lang] == 'es'
    apply_btn = 'DETALLE'
    vacancy_one = 'Analista de Ciberseguridad'
    vacancy_three = 'Web Developer'
    vacancy_four = 'IOT Developer'
    vacancy_five = 'Software Developer'
    vacancy_seven = 'Ethical Hacker'
    vacancy_eight = 'Ethical Hacker Junior'
    vacancy_eleven = 'Software Developer Junior'
    vacancy_twelve = 'Desarrollador JavaScript'
    vacancy_thirteen = 'Ruby on Rails Developer'
    vacancy_seventeen = 'Desarrollador Microstrategy'
    vacancy_eighteen = 'Gestor de Canales'
    vacancy_nineteen = 'Account Manager Senior'
    vacancy_twenty = 'Ingeniero de Preventa'
    vacancy_twenty_one = 'Software Developer Manager'
    vacancy_twenty_two = 'DevOps Engineer'
    vacancy_twenty_three = 'Analista de Pruebas'
    vacancy_twenty_five = 'QA Engineer Tech Lead'
    vacancy_twenty_six = 'QA Engineer Test Automation'
    vacancy_twenty_seven = 'Desarrollador Full Stack .Net'
  else
    apply_btn = 'DETAILS'
    vacancy_one = 'Analista de Ciberseguridad'
    vacancy_three = 'QA Data Engineer'
    vacancy_four = 'IOT Developer'
    vacancy_five = 'Software Developer'
    vacancy_seven = 'Ethical Hacker'
    vacancy_eight = 'Ethical Hacker Junior'
    vacancy_eleven = 'Software Developer Junior'
    vacancy_twelve = 'Desarrollador JavaScript'
    vacancy_thirteen = 'Ruby on Rails Developer'
    vacancy_seventeen = 'Desarrollador Microstrategy'
    vacancy_eighteen = 'Gestor de Canales'
    vacancy_nineteen = 'Account Manager Senior'
    vacancy_twenty = 'Ingeniero de Preventa'
    vacancy_twenty_one = 'Software Developer Manager'
    vacancy_twenty_two = 'DevOps Engineer'
    vacancy_twenty_three = 'Analista de Pruebas'
    vacancy_twenty_five = 'QA Engineer Tech Lead'
    vacancy_twenty_six = 'QA Engineer Test Automation'
    vacancy_twenty_seven = 'Desarrollador Full Stack .Net'
  end

- btn_action_class = 'f5 fw9 tracked grow no-underline br-pill br4 ph4 pv2 mb3'\
' dib white am-bg-orange'

.ma-auto.mw9
  .flex.flex-wrap.justify-center.mt5.mr0.mb1.ml0.tc
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_one
          <br>
        span.f5.tracked.gray
        | 5 years <br>
        | English: No <br>
        | $5 - 8M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-uno/"
          target="_blank"
        ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_three
          <br>
        span.f5.tracked.gray
        | 3 years <br>
        | English: B2 - C1 <br>
        | $7.5 - 8M <br>
        | Medellin  <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-tres/"
          target="_blank"
        ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_four
          <br>
        span.f5.tracked.gray
        | 3 years <br>
        | English: B2 - C1 <br>
        | $8 - 8.5M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-cuatro/"
          target="_blank"
        ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_five
          <br>
        span.f5.tracked.gray
        | Fresher - 15 years <br>
        | English: No <br>
        | $1.8 - 14.8M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-cinco/"
          target="_blank"
        ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_seven
          <br>
        span.f5.tracked.gray
        | Fresher - 15 years <br>
        | English: No <br>
        | $1.8 - 14.8M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-siete/"
          target="_blank"
        ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_eight
          <br>
        span.f5.tracked.gray
        | Fresher <br>
        | English: No <br>
        | $1.8 - 2.5M <br>
        | Remote <br>
        | Part Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-ocho/"
          target="_blank"
        ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_eleven
          <br>
        span.f5.tracked.gray
        | Fresher <br>
        | English: No <br>
        | $1.8 - 2.5M <br>
        | Remote <br>
        | Part Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-once/"
          target="_blank"
        ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twelve
          <br>
        span.f5.tracked.gray
        | 1 year <br>
        | English: No <br>
        | $1.5 - 2.5M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-doce/"
          target="_blank"
        ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_thirteen
          <br>
        span.f5.tracked.gray
        | 2+ years <br>
        | English: B2 - C1 <br>
        | $9M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-trece/"
          target="_blank"
        ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_seventeen
          <br>
        span.f5.tracked.gray
        | 1+ years <br>
        | English: No <br>
        | $6.5M <br>
        | Bogotá <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-diecisiete/"
          target="_blank"
        ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_eighteen
          <br>
        span.f5.tracked.gray
        | 3 years <br>
        | English: C1 <br>
        | $5 - 7M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-dieciocho/"
          target="_blank"
      ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_nineteen
          <br>
        span.f5.tracked.gray
        | 8+ years <br>
        | English: No <br>
        | $13M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-diecinueve/"
          target="_blank"
      ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty
          <br>
        span.f5.tracked.gray
        | 3+ years <br>
        | English: No <br>
        | $7M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veinte/"
          target="_blank"
      ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_one
          <br>
        span.f5.tracked.gray
        | 5 years <br>
        | English: B2 is a plus <br>
        | $13M - 15M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veinteuno/"
          target="_blank"
       ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_two
          <br>
        span.f5.tracked.gray
        | 2+ years <br>
        | English: B2 - C1 <br>
        | $10M - 12M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veintedos/"
          target="_blank"
      ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_three
          <br>
        span.f5.tracked.gray
        | 1+ years <br>
        | English: B1 <br>
        | $3.5M - 4.2M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veintetres/"
          target="_blank"
      ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_five
          <br>
        span.f5.tracked.gray
        | 1+ years <br>
        | English: B1 <br>
        | $3.5M - 4.2M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veintecinco/"
          target="_blank"
      ] = apply_btn
    .w-90.relative-l.w2-l
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_six
          <br>
        span.f5.tracked.gray
        | 1+ years <br>
        | English: B1 <br>
        | $3.5M - 4.2M <br>
        | Medellin <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veinteseis/"
          target="_blank"
      ] = apply_btn
    .ba.bw2.b--orange.mb4.w-90.relative-l.w-40-l
      .pt4.pt5-l.pb4.pb5-l.pr4.pl4
        span.f4.fw5.tracked.am-orange.pt0.mt0.b-l
          = vacancy_twenty_seven
          <br>
        span.f5.tracked.gray
        | 3+ years <br>
        | English: No <br>
        | $6M - 7M <br>
        | Remote <br>
        | Full Time <br><br>
        a[
          class="#{btn_action_class}"
          href="/es/candidatos/vacantes/vacante-veintesiete/"
          target="_blank"
      ] = apply_btn
