html {
  font-size: 14px;
}

body {
  font-family: 'Dosis', sans-serif;
  line-height: 1.3;
}

#back-btn, #next-btn {
  top: 45%;
  transform: translateY(-55%);
  background: rgba(255, 255, 255, 1);
}

/* Extra-classes using Tachyons syntax */
.w-440 {
  width: 440%;
}

.w-250{
  width: 250%;
}

.w-95 {
  width: 95%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}

.br-50 {
  border-radius: 50%;
}

.br6 {
  border-radius: 4rem;
}

.h0 {
  height: 0.5rem;
}

.h14 {
  height: 14rem;
}

.h-95 {
  height: 95%;
}

.h-80 {
  height: 80%;
}

.h-70 {
  height: 70%;
}

.ma-auto {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.mr-auto {
  margin-right: auto;
}

.mb-auto {
  margin-bottom: auto;
}

.ml-auto {
  margin-left: auto;
}

.mt-2 {
  margin-top: -2rem;
}

.justify-evenly {
  justify-content: space-evenly;
}

.left-50 {
  left: 50%;
}

.top-50 {
  top: 50%;
}

.transform-h-center {
  transform: translate(-50%,0);
}

.transform-v-center {
  transform: translate(0, -50%);
}

.am-bg-orange {
  background-color: #FF6600;
}

.am-bg-dark-orange {
  background-color: #CE4908;
}

.mw-100-ch {
  max-width: 100ch;
}

.mw-240-ch {
  max-width: 240ch;
}

.am-orange {
  color: #FF6600;
}

.am-bg-dark-gray {
  background-color: #494949;
}

.am-gray {
  color: #666666;
}

.am-light-gray {
  color: #808080;
}

.am-br-gray {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.am-br-gray:hover {
  border-color: darkgray;
}

.sm-sq-img {
  width: 100%;
}

.am-circle {
  border: 5px solid white;
  border-radius: 50%;
  height: 300px;
  width: 300px;
}

.w-45 {
  width: 45%;
}

.semi-tracked {
  letter-spacing: .05em;
}

.auto {
  background-size: auto;
}

@media(min-width: 30em) {
  .bottom--7-ns {
    bottom: -7rem;
  }
}

@media(min-width: 60em) {
  .ml-auto-l {
    margin-left: auto;
  }

  .mr-auto-l {
    margin-right: auto;
  }

  .left-50-l {
    left: 50%;
  }

  .transform-center-l {
    transform: translate(-50%,0);
  }

  .w-15-l {
    width: 15%;
  }

  .w-165-l {
    width: 165%;
  }
}
