.art-meta::before {
  border-radius: 3px;
  content: '';
  position: absolute;
  background: #FF6600;
  height: 5px;
  left: 0;
  top: 0;
  width: 100%
}

.wrong-input {
  -webkit-box-shadow: 0 0 0.5rem 0.25rem rgba(232,93,93,1);
  -moz-box-shadow: 0 0 0.5rem 0.25rem rgba(232,93,93,1);
  box-shadow: 0 0 0.5rem 0.25rem rgba(232,93,93,1);
}

.am-photo {
  border: 2px solid #FF6600;
  width: 100px;
}

.am-toc {
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.imageblock {
  text-align: center;
}

.google-maps {
  width: 100%;
  max-height: 35rem;
}

.form-title {
  font-size: 1.4rem;
}

.ulist ul li p::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.item li p {
  padding-left: 0.25rem;
}

.text-center-chart {
  left: 19vw;
  margin-top: 35px;
}
  
.legend-container {
  display: inline-block;
  position: absolute;
  left: 50%;
}
  
.canvas-con-inner {
  display: inline-block;
  position: absolute;
  left: 1rem;
}
  
.legend-container ul {
  list-style: none;
  padding-left: 10px;
}
  
.legend-container li {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
  
.legend-container li span {
  display: inline-block;
}
  
.legend-container li span.chart-legend {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  margin-right: 4px;
}
  
.legend-container li span.chart-legend-label-text {
  font-size: 0.5rem;
  color: #666666;
  font-family: 'Dosis';
}

@media(min-width: 30em) {
  .art-meta::before {
    width: 50%;
  }

  .text-center-chart {
    left: 240px;
    margin-top: 65px;
  }

  .legend-container {
    display: inline-block;
    position: static;
  }

  .canvas-con-inner {
    display: inline-block;
    position: static;
  }

  .legend-container ul {
    list-style: none;
    padding-left: 2rem;
  }

  .legend-container li {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
  }

  .legend-container li span {
    display: inline-block;
  }

  .legend-container li span.chart-legend {
    border-radius: 50%;
    width: 9px;
    height: 9px;
    margin-right: 8px;
  }

  .legend-container li span.chart-legend-label-text {
    font-size: 1rem;
    color: #666666;
    font-family: 'Dosis';
  }
}

@media(min-width: 60em) {
  .post-image-l {
    width: 230px;
  }

  .form-title-l {
    font-size: 1.9rem;
  }
}

@media(min-width: 1010px) {
  .content {
    margin-left: auto;
    margin-right: auto;
  }
}
