a {
  color: #FF6600;
  text-decoration: none;
}

.dropdown-content {
  top: 80px;
  right: 20px;
  background-color: #393939;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a:hover {
  background-color: #676767;
}

.am-header {
  height: 100px;
  min-width: 320px;
  transition: all 150ms ease 0ms;
}

.header-scrolled {
  height: 100px;
  background: white;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.header-scrolled .am-menu-item {
  color: black;
  font-weight: 300;
}

.am-button {
  cursor: pointer;
  right: -4vw;
  width: 50px;
}

.am-menu-item-color {
  color: #808080;
}

.am-navbar {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  height: 100vh;
  max-width: 320px;
  padding-top: 50px;
  transform: translate3d(111%, 0%, 0px);
  transition: all 200ms cubic-bezier(0.61, 0.92, 0.68, 1.14) 0s;
  width: 70vw;
}

.am-navbar-open {
  transform: translate3d(40px, 0, 0);
}

.am-navbar-open .am-menu-item {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition-delay: 0.3s;
}

.am-menu-item {
  padding: 0.8em 5vw 0.8em 3em;
  transform: translate3d(-6.25%, 0, 0);
  transition: opacity 250ms cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  font-family: 'Dosis';
}

.am-banner {
  height: 100vh;
}

.banner-bg1 {
  background: linear-gradient(rgba(255,102,0,0.55), rgba(255,102,0,0.65)), url(/images/banner.png);
  background-position: 60% 0%;
}

.banner-bg2-pos { /*agregar esta clase*/
  background-position: 75% 0%;
}

.banner-bg2 {
  background: linear-gradient(rgba(255,102,0,0.7), rgba(255,102,0,0.7)), url(/images/secondary-banner.png);
  background-position: 75% 0%;
}

.banner-bg3 {
  background: linear-gradient(rgba(46,46,46,0.55), rgba(46,46,46,0.55)), url(/images/secondary-banner.png);
  background-position: 75% 0%;
}

.banner-bg4 {
  background: linear-gradient(rgba(255,102,0,0.7), rgba(255,102,0,0.7)), url(/images/secondary-banner.png);
  background-position: center;
}

@media(min-width: 60em) {
  .am-header {
    height: 120px;
  }

  .am-menu-item-color {
    color: white;
  }

  .header-scrolled {
    height: 80px;
  }

  .am-navbar {
    background: transparent;
    box-shadow: none;
    height: 100%;
    max-width: 800px;
    overflow: initial;
    padding-top: 0;
    right: 5px;
    transform: none;
    transition: none;
    width: auto;
  }

  .am-navbar li {
    padding-right: 5px;
  }

  .am-navbar li a {
    opacity: 1;
    padding: 1em 0.8em;
    transition: none;
  }
}
