.bar {
  border-radius: 4px 4px 0 0;
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.6);
}

.teal-bar {
  background: #4ECDC4;
  background-image: linear-gradient(#76D8D1, #4ECDC4 70%);
  border: 1px solid #4ECDC4;
}

@media(min-width: 30em) {
  .axis-ns {
    margin: -9px 0 106px 0;
  }

  .bar-label-ns {
    right: 50%;
    transform: rotate(270deg) translateY(75px);
    width: 150px;
  }

  .graph-ns {
    height: 425px;
  }
}