.loader {
  width: 5em;
  height: 5em;
  background: transparent;
  border-top: 0.1rem solid #494949;
  border-right: 0.1rem solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spinner ease-in-out infinite;
  animation: 1s spinner ease-in-out infinite;
}
    
@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
          
@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1440deg);
    transform: rotate(1440deg);
  }
}
