---
title: Home
subtitle: English Home
description: English home page
keywords:
  - 'home'
  - 'Autonomic'
  - 'Mind'
lang: 'en'
---

doctype html
html
  head
    == render '/head.slim'
    link rel="stylesheet" href="/stylesheets/home.css"
    script src="/js/progress-bar.js"
    script src="/js/instagram-feed.js"
    script src="/js/carousel.js"

  body
    == render "/header-#{item[:lang]}.slim"

    .ma-auto.mw-240-ch
      .flex.flex-wrap.mt4.mr0.mb0.ml0.tc
        .w-90.w-50-l.relative-l
          .pt4.pt5-l.pb4.pb5-l.pr0.pl0.tl
            img.br6.br--right[
              src="/images/business-man.png"
              alt="business-man"
              width="700"
            ]
        .w-100.w-50-l.relative-l.mb2
          .mt6-l.ml4.ml5-l.mr4.mr6-l
            h3.f3.f2-l.fw5.tracked.dark-gray.tl.ma0.pa0 AUTONOMIC MIND
            - who_we_are = 'We are a Recruitment and Staff Augmentation '\
            'company specialized in highly skilled information '\
            'technology people. We know the IT market and their '\
            'salary ranges. We have over 10.000 candidates in our '\
            'records and more than 390 available tests in order '\
            'to assess their abilities.'
            p.f5.f4-l.fw5.gray.tl.pr2 = who_we_are
            h4.f4.f3-l.fw5.tracked.dark-gray.tl.mb0 NUMBERS
            .loader.ma-auto.mv5 id="loader-bar-chart"
            .barChart.dn
              p.f5.fw5.gray.tl.tracked.mt3.mt4-l.mb0.pb0 APPLICATIONS
              .w-100.w-80-l.pa0.ma0
                .relative.w-100
                  .pt3 id="barOne"
              p.f5.fw5.gray.tl.tracked.mt3.mt4-l.mb0.pb0 CANDIDATES EVALUATED
              .w-100.w-80-l.pa0.ma0
                .relative.w-100
                  .pt3 id="barTwo"

    == render '/portfolio.slim'

    .w-100.tc.mt5
      h3.f4.f2-l.fw5.dark-gray.tracked OUR CUSTOMERS

    == render '/customer-slider.slim'

    .w-100.ba.am-orange.mv5.mv6-l style="opacity: 0.8;"

    == render '/instagram.slim'

    == render "/footer2-#{item[:lang]}.slim"

    == render "/footer-#{item[:lang]}.slim"
