---
section: Blog
title: Blog - Candidatos
subtitle:
description: Página de blog con links a articulos dirigidos a candidatos
keywords:
  - 'blog'
  - 'Autonomic'
  - 'Mind'
  - 'Información'
  - 'Conocimiento'
  - 'Publicaciones'
  - 'Candidatos'
banner_title: Blog - Candidatos
lang: es
---

doctype html
html
  head
    == render '/head.slim'
    link href="/stylesheets/content.css" rel="stylesheet" type="text/css"
    script src="/js/pagination.js"

  body
    == render "/header-#{item[:lang]}.slim"

    .w-90.mb3.mw9.ml-auto.mr-auto.mt5.mt6-l
      .w-100.f4.overflow-hidden id="pagination-container"
        .w-100.flex.flex-wrap.justify-between-l id="article-container"
          - articles = sorted_articles
          - num_articles = 0
          - articles.each do |article|
            - if article[:lang] == 'es' && article[:category] == 'Candidates'
              - num_articles += 1
              .w-90.w-30-l.mr-auto.ml-auto.ml0.mr0 id="article-inner-container"
                .flex.flex-column.mb0.mb5-l.ph0.ph3-l
                  .w-100.fl-l
                    img.br0[
                      src="#{article.path + 'cover.png'}"
                      alt="#{article[:image_alt]}"]
                  .w-100.pa0
                    h3.am-orange.mt3.mb2.ttu.f5.fw6.tracked
                      | #{article[:title]}
                    p.mt0
                      span.mr2
                        span.gray.f5.fw6.tracked
                         | #{article[:author]}
                      span
                        span.gray.f5.nowrap.tracked
                         - date = '| '\
                         "#{article[:created_at].strftime('%B %e, %Y')}"
                         | #{date}
                    .w-100.bt.b--black-20
                    p.mb0-l.semi-tracked.f6.f5-l.gray
                     | #{article[:description]}
                  .w-100.pt1.pt3-l.pb5.pb0-l
                    a.grow.no-underline.gray.b.f6.f5-l.pointer[
                      href="#{article.path}"
                    ] Leer más

    .w-90.mb5.mb6-l.mw9.ml-auto.mr-auto
      .w-100.flex.items-center.justify-center
        a.f5.link.dim.ba.ph2.pv0.mb2.dib.am-gray.pointer.mr2[
          id="articles-left"
        ]
          span
            i.fas.fa-chevron-left
        - num_pages_mobile = (num_articles / 3).round(half: :down)
        - num_pages_desktop = (num_articles / 6).round(half: :down)
        - if num_articles % 3 != 0
          - num_pages_mobile += 1
        - if num_articles % 6 != 0
          - num_pages_desktop += 1

        - index = 1
        - num_pages_mobile.times do
          - btn_class = 'btn-page-container'
          - if index > num_pages_desktop
            - btn_class += ' dn btn-page-mobile'
          .pa0.ma0 class="#{btn_class}" id="#{index}"
            a.f5.link.dim.ba.ph2.pv0.mb2.dib.am-gray.pointer.mh1.b[
              class="btn-page"
            ] #{index}
          - index += 1
        a.f5.link.dim.ba.ph2.pv0.mb2.dib.am-gray.pointer.ml2[
          id="articles-right"
        ]
          span
            i.fas.fa-chevron-right

    == render "/footer2-#{item[:lang]}.slim"

    == render "/footer-#{item[:lang]}.slim"
