---
section: Blog
title: Blog
subtitle:
description: Página de blog con links a todos los artículos
keywords:
  - 'blog'
  - 'Autonomic'
  - 'Mind'
  - 'Información'
  - 'Conocimiento'
  - 'Publicaciones'
banner_title: Blog
lang: es
---

doctype html
html
  head
    == render '/head.slim'
    link href="/stylesheets/content.css" rel="stylesheet" type="text/css"
    script src="/js/pagination.js"

  body
    == render "/header-#{item[:lang]}.slim"

    .w-100.ma-auto.mw9.tc.mb4.mb5-l.mt5.mt6-l.ph5
      h2.am-gray.f3.f2-l.tracked.ttu.normal
       | #{{'¡Te presentamos a los mejores talentos <br> de la industria!'}}
    .w-80.ma-auto.mb5.mb6-l.mw9.flex.flex-wrap.justify-around
      .w-100.w-40-l.mb5.mb0-l
        - stl_candid = 'background-image: url("/images/candidates-blog.png"); '\
        'background-position: 50% 60%;'
        .h5.cover style="#{stl_candid}"
        .mt4.w-100.tc
          - recruitment_action_class = 'f6 f5-l grow no-underline br-pill ba '\
          'bw1 ph5 pv2 dib am-orange ttu pointer'
          h2.am-gray.f3.f2-l.tracked.normal CANDIDATOS
          a class="#{recruitment_action_class}" href="/es/blog/candidatos/"
           | ver más
      .w-100.w-40-l
        - stl_client = 'background-image: url("/images/clients-blog.png"); '\
        'background-position: 50% 60%;'
        .h5.cover style="#{stl_client}"
        .mt4.tc
          h2.am-gray.f3.f2-l.tracked.normal CLIENTES
          a class="#{recruitment_action_class}" href="/es/blog/clientes/"
           | ver más

    == render "/footer2-#{item[:lang]}.slim"

    == render "/footer-#{item[:lang]}.slim"
